<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }}</title>
    
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="keywords" content="{{ delimit .Site.Params.keywords ", " }}">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rafasacaan.com">
    
    {{- partial "opengraph.html" . -}}

    <link rel="preload" href="{{ "fonts/Newsreader.woff2" | relURL }}" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="{{ "fonts/Newsreader-italic.woff2" | relURL }}" as="font" type="font/woff2" crossorigin />

    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

    <script src="{{ "js/init-darkmode.js" | relURL }}" defer></script>
    <script src="{{ "js/darkmode.js" | relURL }}" defer></script>
    <script src="{{ "js/footnotes.js" | relURL }}" defer></script>
</head>
